*{
    margin: 0px;
    padding: 0px;
}

.indie {
    font-family: "Indie Flower", sans-serif;
}

.tahoma {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.negrita {
    font-weight: bold;
}

main {
    background-color: #500805;
} 
/* 
.grid__container__index {
    display:grid;
    grid-template-columns: 0.15fr 0.85fr;
    grid-template-rows: 0.25fr 3fr 1fr;     
    grid-template-areas: "titulo titulo"   
                        ".. imagenes"
                        ".. texto";      
    padding: 1rem;
    background-color: #500805;
    color:white;
}
 */
header {
    display:flex;
    align-items: center;
    justify-content:flex-end;
    padding: 1rem; 
    background-color: #9d331f;
}

ul {
    display:flex;
    list-style-type: none;
}

.navegacion__opcion {
    text-decoration: none;    
    font-size: 1rem;
    color: white;  
    margin-left: 2rem; 
    margin-right: 2rem;
}

.inicio {
    margin-right: 26rem;
}

.index__titulo {
    /* grid-area: titulo; */
    display:flex;
    padding-top: 1rem;
    font-size: 2rem;
    justify-content: center;
    color: white;
    background-color: #500805;
}
/* 
.grid__imagenes {
    grid-area: imagenes;
    /* display:flex;
    justify-content: center; 
    background-image: url("../recursos/mendoza.jpg");
    background-size: contain;
    background-repeat: no-repeat;
} */

.index__texto {
    /* grid-area: texto; */
    display:flex;
    justify-content: center;
    text-align: justify;
    width: 90vw;
    padding-top: 1rem;
    margin-left: 4rem;
    color:white;
}
/* 
.foto {
    border: 4px groove #9d331f;
} */

.grid__container__favoritos {
    display:grid;
    grid-template-columns: 1.25fr 0.75fr 1fr;
    grid-template-rows: 2fr repeat(15, 5fr); 
    grid-template-areas: 
        "titulof titulof titulof"   
        "uno uno dos"
        "uno uno dos"
        "tres tres dos"
        "tres tres cuatro"
        "cinco .. cuatro"
        "cinco seis seis"
        "siete seis seis"
        "siete ocho ocho"
        ".. ocho ocho"
        "nueve nueve .."
        "nueve nueve .."
        "diez once once"
        "diez once once"
        "doce doce .."    
        "doce doce ..";  
    gap: 15px;
    padding: 2rem;
    background-color: #500805;
}

.grid__img {
    background-size: cover;
    background-repeat: no-repeat;
    color: #500805;
}

.grid__img:hover {
    transform: scale (1.2);
}

.grid__titulo__favoritos {
    grid-area: titulof;
    display:flex;
    justify-content: center;
    font-size: 2rem;
    color: white;
}

.grid__uno {
    grid-area: uno;
    display:flex;
    background-image: url("../recursos/puente_de_inca.jpg");
}

.grid__uno:hover{
    transform: scale(1.1);
}

.grid__dos {
    grid-area: dos;
    display:flex;
    background-image: url("../recursos/cerro_de_la_gloria.jpg");
}

.grid__dos:hover{
    transform: scale(1.1);
}

.grid__tres {
    grid-area: tres;
    display:flex;
    background-image: url("../recursos/vinedos.jpg");
}

.grid__tres:hover{
    transform: scale(1.1);
}

.grid__cuatro {
    grid-area: cuatro;
    display:flex;
    background-image: url("../recursos/fuente_continentes.jpg");
}

.grid__cuatro:hover{
    transform: scale(1.1);
}

.grid__cinco {
    grid-area: cinco;
    display:flex;
    background-image: url("../recursos/los_reyunos.jpg");
}

.grid__cinco:hover{
    transform: scale(1.1);
}

.grid__seis {
    grid-area: seis;
    display:flex;
    background-size: contain;
    background-image: url("../recursos/rosedal.jpg");
}

.grid__seis:hover{
    transform: scale(1.1);
}

.grid__siete {
    grid-area: siete;
    display:flex;
    background-image: url("../recursos/dique_potrerillos.jpg");
}

.grid__siete:hover{
    transform: scale(1.1);
}

.grid__ocho {
    grid-area: ocho;
    display:flex;
    background-image: url("../recursos/villavicencio.jpg");
}

.grid__ocho:hover{
    transform: scale(1.1);
}

.grid__nueve {
    grid-area: nueve;
    display:flex;
    background-image: url("../recursos/nina_encantada.jpg");
}

.grid__nueve:hover{
    transform: scale(1.1);
}

.grid__diez {
    grid-area: diez;
    display:flex;
    background-image: url("../recursos/uspallata.jpg");
}

.grid__diez:hover{
    transform: scale(1.1);
}

.grid__once {
    grid-area: once;
    display:flex;
    background-size: contain;  
    background-image: url("../recursos/aguas_cacheuta.jpg");
}

.grid__once:hover{
    transform: scale(1.1);
}

.grid__doce {
    grid-area: doce;
    display:flex;
    background-size: contain; 
    background-image: url("../recursos/llancanelo.jpg");
}

.grid__doce:hover{
    transform: scale(1.1);
}

span {
    margin-left: 1rem;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;  
    padding: 1rem;
    /* background-color:#bc6d4f;  */
    color:#500805;
}

.gradiente {
    background-image: linear-gradient(to bottom, #bc6d4f, #bc6e4f70);
}

.footer__redes {
    height: 20vh;
}

.footer__imagenes{
    width: 50px;
    height: 50px;
    margin: 2rem; 
}

.footer__enlaces {
    height: 10vh;
}

.footer__enlaces__opcion {
    text-decoration: none;    
    font-size: 1rem;
    color:#500805; 
    margin: 1rem;
}

.footer__disclaimer {
    display:fex;
    align-items: flex-end;
    /* color:#500805; */
    /* margin: 20px;
    text-align: right;
    font-size: 12px; */
}

.principal {
    padding: 20px;
    color: white;
    font-size: 12px;
}

.principal__titulo {
    font-size: 60px;
    text-align: center;    
}

.principal__titulo__paginas {
    font-size: 36px;
    text-align: center;    
}

.principal__titulo__pequeño {
    text-align: center;
    font-size: 20px;
}

.principal__imagenes {
    width: 1020px;
    height: 580px;
}

.principal__texto {
    width: 650px;
    height: 400px;
    font-size: 12px;
    line-height: 2;
    text-align: justify;
}

/* footer {
    background-color:#bc6d4f;
    padding: 20px;  
}

.footer__redes{
    width: 50px;
    height: 50px;
    margin: 30px;
}

.footer__enlaces{
    text-decoration: none;    
    font-size: 16px;
    color:#500805;  
}

.footer__disclaimer{
    color:#500805;
    margin: 20px;
    text-align: right;
    font-size: 12px;
}
 */
.favoritosImagenes {
    border: 4px groove #bc6d4f;
    margin: 20px;
}

.favoritosTexto{
    font-size: 12px;
}

.grid__container__turismo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 8fr 8fr 8fr 8fr; 
    grid-template-areas: 
        "titulot titulot titulot titulot"   
        "t_uno t_uno t_uno texto_uno"
        "t_dos t_dos t_dos texto_dos"
        "t_tres t_tres t_tres texto_tres"
        "t_cuatro t_cuatro t_cuatro texto_cuatro";
    gap: 5px; 
    padding: 5rem;
    color:#500805;
    background-color: #500805;
}

.grid__titulo__turismo {
    grid-area: titulot;
    display:flex;
    justify-content: center;
    font-size: 1.5rem;
    color: white;
}

.grid__turismo__uno {
    grid-area: t_uno;
    background-image: url("../recursos/aconcagua.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border:#bc6d4f solid 5px;
    display:flex;
    background-color: #bc6d4f;
}

.grid__texto__uno {
    grid-area: texto_uno;
    background-color: #bc6d4f;
    display: flex;
    color: #500805;
    text-align: justify;
    padding: 1rem;
}

.grid__turismo__dos {
    grid-area: t_dos;
    background-image: url("../recursos/las_lenas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border:#bc6d4f solid 5px;
    display:flex;
    background-color: #bc6d4f;
}


.grid__texto__dos {
    grid-area: texto_dos;
    background-color: #bc6d4f;
    display: flex;
    color: #500805;
    text-align: justify;
    padding: 1rem;
}

.grid__turismo__tres {
    grid-area: t_tres;
    background-image: url("../recursos/rafting.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border:#bc6d4f solid 5px;
    display:flex;
    background-color: #bc6d4f;
}

.grid__texto__tres {
    grid-area: texto_tres;
    background-color: #bc6d4f;
    display: flex;
    color: #500805;
    text-align: justify;
    padding: 1rem;
}

.grid__turismo__cuatro {
    grid-area: t_cuatro;
    background-image: url("../recursos/senderismo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border:#bc6d4f solid 5px;
    display:flex;
    background-color: #bc6d4f;
}

.grid__texto__cuatro {
    grid-area: texto_cuatro;
    background-color: #bc6d4f;
    display: flex;
    color: #500805;
    text-align: justify;
    padding: 1rem;
}

.grid__container__camino {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
    grid-template-rows: 0.25fr 1.5fr 1.5fr 0.25fr 1fr 1fr 0.25fr; 
    grid-template-areas: 
        "tituloc tituloc tituloc tituloc"   
        ".. video_uno video_uno .."
        ".. video_dos video_dos .."
        "subtitulo subtitulo subtitulo subtitulo"
        ".. fotos_dos fotos_dos .."
        ".. fotos_cuatro fotos_cuatro .."
        ".. texto_enot texto_enot ..";
    gap: 5px; 
    /* padding: 5rem; */
    color: white;
    background-color: #500805;
}

.grid__titulo__camino {
    grid-area: tituloc;
    display:flex;
    justify-content: center;
    font-size: 1.5rem;
    color: white;
    margin-top: 1rem;
}

.grid__video__uno {
    grid-area: video_uno;
    padding-left: 2rem;
    text-align: justify;
}

.grid__video__dos {
    grid-area: video_dos;
    padding-left: 2rem;
    text-align: justify;
}

.grid__enoturismo {
    grid-area: subtitulo;
    text-align: center;
    margin-top: 2rem;
    color: #9d331f; 
}

.grid__fotos__camino__uno {
    grid-area: fotos_dos;
    display:flex;
    width: 40vw;
}

.grid__fotos__camino__dos {
    grid-area: fotos_cuatro;
    display:flex;
    width: 40vw;
}

/* 
.tarjetaTurismo {
    background-color: #bc6d4f;
    padding:10px;
    margin-top: 10px;
    margin: 30px;
    width: 1200px;
    height: 640px;
    border:4px groove #9d331f;
    color:#500805;
}
 */
.video {
    border:4px groove #bc6d4f;
    margin-bottom: 20px;
    margin-top: 20px; 
    width: 60vw;
    height: 60vh;
}

.enoturismo__imagen {
    width: 34vw; 
/*     height: 30vh;
 */
    /* width: 540px;
    height: 300px; */
}

.grid__enoturismo__texto {
    grid-area: texto_enot;
    text-align: justify;
}

form {
    background-color: #bc6d4f;
    width: 750px;
    height: 450px;
    border: 6px groove white;
    color:#500805
}

input {
    margin: 20px;
}

label {
    padding: 20px;
    margin-top: 20px;
}

.form__pregunta{
    margin-top: 40px;
    margin-bottom: 30px;
}

.boton {
    color: #500805;
    padding: 5px;
    font-size: 14px;
} 

@media (min-width:541px) and (max-width:720px) {
    
    .grid__titulo__favoritos { 
        /* grid-area: titulof; */
        font-size: 1rem; 
    /*  color: white; */
    } 
    
    /* header {
        display:flex;
        height: 12vh;
        padding: 1rem;
        /* background-color: #9d331f; 
    } */

    nav {
        /* display: flex; */
        width: 100vw; 
    }

    ul {
        display:flex;
        flex-direction: column;
        justify-content:space-between;
        list-style-type: none;
        height: 12vh;
        margin-left: 3rem;
    }
/* 
    .navegacion__opcion {
    /*  text-decoration: none; */   
        /* font-size: 1rem; */
       /*  color: white;   */
        /* margin-left: 3rem; 
    }*/
        
    
    
    .grid__titulo {
        /* grid-area: titulo; */
        font-size: 1rem;
        /* color: white; */
    } 
    
    .grid__container__index {
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.1fr 0.5fr 0.25fr;    
        grid-template-areas: "titulo titulo"   
                            "imagenes imagenes"
                            "texto texto";    
        gap:10px;
        background-color: #500805;
        color:white;
        padding-left: 4rem;
    }
    
    .grid__imagenes {
        grid-area: imagenes;
        display:flex;
        justify-content: center;
        background-image: url("../recursos/mendoza.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        height: 25vh;
        /* padding-left: 3rem;  */
    }

    .grid__texto {
        grid-area: texto;
        display:flex;
        justify-content: center;
        width: 75vw;
        /* margin:auto; */
        padding-top: 1rem;
    }    
/*
    .grid__container__favoritos {
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.25fr 5fr 5fr 5fr 7.5fr 5fr 5fr 5fr 5fr 5fr 5fr; 
        grid-template-areas: 
            "titulof titulof"   
            "uno uno"
            "dos .."
            "dos .."
            "tres tres"
            "cuatro cinco"
            "seis siete"
            "ocho ocho"
            "nueve nueve"
            "diez once"
            "doce doce";  
        gap: 10px;
        padding-right: 2rem;
        padding-left: 1rem;
        background-color: #500805;
    }

    .grid__img {
        background-size: contain;
        background-repeat: no-repeat;
        color: #500805;
    }
        
    .grid__tres {
        background-size: cover;        
    }
*/
    span {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        font-size: 0.75rem;
    }

    footer {
        height: 30vh;
    }

    .footer__redes {
        height: 8vh;
    }
    
    .footer__imagenes {
        width: 50px;
        height: 50px;
        margin: 1rem;
    }

    .footer__enlaces {
        height: 30vh;
    }

    .footer__enlaces__opcion {
        display:flex;
        flex-direction: column; 
        text-decoration: none;    
        font-size: 1rem;
        color:#500805;
    }
    
    .centrado {
        text-align: center;
    }
    
    .footer__disclaimer {
        display: flex;
        margin-top: 1rem;
    }   
}

@media (min-width:320px) and (max-width:540px) {
    
    header {
        /* display:flex; */
        height: 12vh;
        padding: 2rem;
        /* background-color: #9d331f; */
    }

    nav {
        /* display: flex; */
        width: 100vw;
    }

    ul {
        /* display:flex; */
        flex-direction: column;
        justify-content: space-between;
        /* list-style-type: none; */
        height: 16vh; 
    }

    .navegacion__opcion {
        /* text-decoration: none;    
        font-size: 1rem;
        color: white;   */
        margin-left: 1rem;
    }
    
    .grid__titulo {
        /* grid-area: titulo; */
        font-size: 1rem;
        /* color: white; */
    } 
    
    .grid__container__index {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.5fr 0.25fr;    
        grid-template-areas: "titulo"   
                            "imagenes"
                            "texto";    
        gap:5px;
    /*  background-color: #500805;
        color:white; */
    }
    .grid__imagenes {
        grid-area: imagenes;
        /* display:flex; */
        background-image: url("../recursos/mendoza.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        height: 20vh; 
        margin-left: 2rem;
    } 

    .grid__texto {
        grid-area: texto;
        display:flex;
        justify-content: center;
        width: 75vw;
        /* margin:auto; */
        padding-top: 1rem;
        margin-left: 2rem;
    }  

    .grid__titulo__favoritos {
        /* grid-area: titulof; */
        font-size: 1rem;
        /* color: white; */
    } 

    .grid__container__favoritos {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.25fr 5fr 10fr 5fr 5fr 5fr 5fr 5fr 5fr 5fr 5fr 5fr 5fr; 
        grid-template-areas: 
            "titulof"   
            "uno"
            "dos"
            "tres"
            "cuatro"
            "cinco"
            "seis"
            "siete"
            "ocho"
            "nueve"
            "diez"
            "once"    
            "doce";  
        gap: 10px;
        padding-right: 1rem;
        padding-left: 2rem;
        background-color: #500805;
    }
    
    .grid__dos{
        /* height: 20vh; */
        background-size: contain;
    }
    
    .grid__cuatro {
        /* height: 20vh; */
        background-size: contain;
    }
    
    .grid__cinco {
        /* height: 20vh; */
        background-size: contain;
    }

    span {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        font-size: 0.75rem;
    }

    footer {
        height: 40vh;
    }

    .footer__redes {
        height: 12vh;
    }
    
    .footer__imagenes {
        /* width: 50px;
        height: 50px; */
        margin: 1rem;
    }

    .footer__enlaces {
        height: 20vh;
    }

    .footer__enlaces__opcion {
        display:flex;
        flex-direction: column; 
        /* text-decoration: none;    
        font-size: 1rem; */
        color:#500805;
    }
    
    .centrado {
        text-align: center;
    }
    
    .footer__disclaimer {
        /* display: flex; */
        margin-top: 2rem;
        height: 5vw;
    }
}